<%- include("partials/header.ejs") %>

<div class="blog-post">
    <h1><%= postTitle %></h1>
    <p class="post-author">- <%= postAuthor %></p>
    <div class="post-content">
        <%= content %>
    </div>
</div>

<%- include("partials/footer.ejs") %>
